{% if component.type == "intro" %}
  {% set props = component.props %}
  {% include "components/intro.njk" %}
{% elif component.type == "major_title" %}
  {% set props = component.props %}
  {% include "components/major_title.njk" %}
{% elif component.type == "md_content" %}
  {% set props = component.props %}
  {% include "components/md_content.njk" %}
{% elif component.type == "heading_with_subtitle" %}
  {% set props = component.props %}
  {% include "components/heading_with_subtitle.njk" %}
{% elif component.type == "img_text" %}
  {% set props = component.props %}
  {% include "components/img_text.njk" %}
{% elif component.type == "post_listing" %}
  {% include "components/post_listing.njk" %}
{% else %}
  <!-- Unknown component type: {{ component.type }} -->
{% endif %}