{% if component.type == "intro" %}
  {% set props = component.props %}
  {% include "components/intro.njk" %}
{% elif component.type == "post_listing" %}
  {% include "components/post_listing.njk" %}
{% else %}
  <!-- Unknown component type: {{ component.type }} -->
{% endif %}