<section class="split contact">
    {% for item in contactInfo.contactInfo %}
        <section {% if loop.index == 0 %}class="alt"{% endif %}>
            <h3>{{ item.name }}</h3>
            <p>{{ item.value }}</p>
        </section>
    {% endfor %}
    <section>
        <h3>Social</h3>
        <ul class="icons alt">
            {% for item in contactInfo.socialMedia %}
                <li><a href="{{ item.url }}" class="icon brands alt fa-{{ item.name }}"><span class="label">{{ item.name }}</span></a></li>
            {% endfor %}
        </ul>
    </section>
</section>