<head>
    <title>{{ title }} | {{ siteConfig.site_title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="{{ siteConfig.site_description }}">
    <meta name="author" content="{{ siteConfig.site_author }}">
    <link rel="stylesheet" href="/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
</head>