{% macro post_item(post, isFeatured) %}
    <article>
        <header>
            <span class="date">{{ post.date|postDate }}</span>
            <h2>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h2>
        </header>
        <a href="#" class="image fit"><img src="{{ post.data.image.src }}" alt="{{ post.data.image.alt }}" /></a>
        <p>{{ post.data.description }}</p>
        <ul class="actions special">
            <li>
                <a href="{{ post.url }}" class="button">Full Story</a>
            </li>
        </ul>
    </article>
{% endmacro %}