---
layout: base.njk
---
{% include "partials/header.njk" %}
    <div id="main">
        <section class="post">
            {% if components %}
                {% for component in components %}
                    {% include "render_component.njk" %}
                {% endfor %}
            {% else %}
                {{ content|safe }}
            {% endif %}
        </section>
    </div>
{% include "partials/footer.njk" %}