---
layout: base.njk
---
{% include "partials/header.njk" %}
    <div id="main">
        <section class="post">
            {{ content|safe }}
        </section>
    </div>
{% include "partials/footer.njk" %}