---
layout: base.njk
---
{% include "partials/intro.njk" %}
{% include "partials/header.njk" %}
    <div id="main">
        <div class="inner">
            {% for component in components %}
                {% include "render_component.njk" %}
            {% endfor %}
        </div>
    </div>
{% include "partials/footer.njk" %}