---
layout: base.njk
---
{% include "partials/intro.njk" %}
{% include "partials/header.njk" %}
    <div id="main">
        <div class="inner">
            {{ content|safe }}
        </div>
    </div>
{% include "partials/footer.njk" %}